h2{
    position: absolute;
    top: 25px;
    right: 10px;
    margin: 0;
    padding: 5px 12px;
    background-color: red;
    color: white;
    border-radius: 50px;
}


.pokeball {
    z-index: 1;
    position: relative;
    right: 100px;
    margin: 10px;
    width: 130px;
    height: 130px;
    background: #fff;
    border: 10px solid #000;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset -10px 10px 0 10px #ccc;
    animation: fall .25s ease-in-out,
               shake 1.25s cubic-bezier(.36,.07,.19,.97) 3;
  }
  .pokeball::before,
  .pokeball::after {
    content:"";
    position: absolute;
  }
  .pokeball::before {
    background: red;
    width: 100%;
    height: 50%;
  }
  .pokeball::after {
    top: calc(50% - 10px);
    width: 100%;
    height: 10px;
    background: #000;
  }

.pokeball_button {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(48% - 20px);
    width: 45px;
    height:45px;
    background: #7f8c8d;
    border: 9px solid #fff;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 9px black;
    animation: blink .5s alternate 7;
}
@keyframes blink {
    from { background: #eee;}
    to { background: #e74c3c; }
}
@keyframes fall {
    0% { top: -200px }
    60% { top: 0 }
    80% { top: -20px }
    100% { top: 0 }
}

@keyframes shake {
    0% { transform: (translate(0, 0) rotate(0)); }
    20% { transform: translate(-10px, 0) 
        rotate(-20deg); }
    30% { transform: translate(10px, 0) rotate(20deg); }
    50% { transform: translate(-10px, 0) rotate(-10deg); }
    60% { transform: translate(10px, 0) rotate(10deg); }
    100% { transform: translate(0, 0) rotate(0); }
  }